*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway;
    text-decoration: none;
}


/*breakpoints
992 px pour les écrans d’ordinateurs
768 px pour les tablettes,
tout ce qui est en dessous de 768 téléphones portables.
*/

/*bleu (#0065FC),claire de ce bleu (#DEEBFF) gris pour le fond (#F2F2F2)*/

                                    /*HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 50px;
    align-items: center;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
}

.li-hebergement{
    color: #0065FC;
    font-weight: 550;
    border-top: 4px solid #0065FC;
    padding-top: 65px;
    padding: 65px 30px 0 30px;
    position: relative;
}

.li-hebergement::before{
    content: "";
    background-color: #DEEBFF;
    width: 175px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s linear;
}

.li-hebergement:hover::before{
    height: 110px;
}

.li-activite{
    color: grey;
    font-weight: 550;
    padding: 65px 30px 0 30px;
    position: relative;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: relative;
    }

    header::after{
        content: "";
        bottom: -4px;
        right: 0;
        height: 4px;
        width: 50%;
        position: absolute;
        z-index: 2;
        background-color: #F2F2F2;
    }

    header::before{
        content: "";
        bottom: -4px;
        left: 0;
        height: 4px;
        width: 50%;
        position: absolute;
        z-index: 2;
        background-color: #0065FC;
    }

    .logo{
        width: 100px;
        margin: 20px 0;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    
    .li-hebergement,
    .li-activite{
        border-top: none;
        padding: 0;
    }

    .li-hebergement::before{
        display: none;
    }

    nav ul{
        height: 35px;
    }

    .ligne-hebergement,
    .ligne-activite{
        width: 100%;
        text-align: center;
    }
}


                        /*RECHERCHE*/
.recherche{
    margin: 0px 30px 10px 30px;
}

.recherche h1{
    font-size: 20px;
}

.recherche p{
    margin: 5px 0 15px 0;
    font-size: 15px;
}

.barre-recherche{
    border: 1px solid #F2F2F2;
    height: 50px;
    width: 380px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
}

.barre-recherche::before{
    content: "";
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    height: 100%;
    width: 50px;
    left: 0;
    background-color: #F2F2F2;
}

.fa-map-marker-alt{
    position: absolute;
    top: 15px;
    left: 20px;
}

.barre-recherche input{
    border: none;
    position: absolute;
    top: 50%; 
    left: 36%;
    transform: translate(-50%, -50%); 
}

.barre-recherche input::placeholder{
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.barre-recherche button{
    position: absolute;
    right: 0;
    width: 110px;
    border: none;
    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.barre-recherche button:hover{
    box-shadow: 10px 1px 20px 1px #aab5c5;
}

.barre-recherche button p{
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

.fa-search{
    display: none;
}

@media (max-width: 768px){
    .recherche{
        margin: 35px 30px 10px 30px;
    }

    .barre-recherche button{
        border-radius: 20px;
        width: 50px;
    }

    .barre-recherche button p{
        display: none;
    }

    .fa-search{
        color: white;
        display: inline;
    }
}


                            /*FILTRES*/
