*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway;
    text-decoration: none;
}


/*breakpoints
992 px pour les écrans d’ordinateurs
768 px pour les tablettes,
tout ce qui est en dessous de 768 téléphones portables.
*/

/*bleu (#0065FC),claire de ce bleu (#DEEBFF) gris pour le fond (#F2F2F2)*/

                                    /*HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 50px;
    align-items: center;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
}

.li-hebergement{
    color: #0065FC;
    font-weight: 550;
    border-top: 4px solid #0065FC;
    padding-top: 65px;
    padding: 65px 30px 0 30px;
    position: relative;
}

.li-hebergement::before{
    content: "";
    background-color: #DEEBFF;
    width: 175px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s linear;
}

.li-hebergement:hover::before{
    height: 110px;
}

.li-activite{
    color: grey;
    font-weight: 550;
    padding: 65px 30px 0 30px;
    position: relative;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: relative;
    }

    header::after{
        content: "";
        bottom: -4px;
        right: 0;
        height: 4px;
        width: 50%;
        position: absolute;
        z-index: 2;
        background-color: #F2F2F2;
    }

    header::before{
        content: "";
        bottom: -4px;
        left: 0;
        height: 4px;
        width: 50%;
        position: absolute;
        z-index: 2;
        background-color: #0065FC;
    }

    .logo{
        width: 100px;
        margin: 20px 0;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    
    .li-hebergement,
    .li-activite{
        border-top: none;
        padding: 0;
    }

    .li-hebergement::before{
        display: none;
    }

    nav ul{
        height: 35px;
    }

    .ligne-hebergement,
    .ligne-activite{
        width: 100%;
        text-align: center;
    }
}


                        /*RECHERCHE*/
.recherche{
    margin: 0px 30px 10px 30px;
}

.recherche h1{
    font-size: 20px;
}

.recherche p{
    margin: 5px 0 15px 0;
    font-size: 15px;
}

.barre-recherche{
    border: 1px solid #F2F2F2;
    height: 50px;
    width: 380px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
}

.barre-recherche::before{
    content: "";
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    height: 100%;
    width: 50px;
    left: 0;
    background-color: #F2F2F2;
}

.fa-map-marker-alt{
    position: absolute;
    top: 15px;
    left: 20px;
}

.barre-recherche input{
    border: none;
    position: absolute;
    top: 50%; 
    left: 36%;
    transform: translate(-50%, -50%); 
}

.barre-recherche input::placeholder{
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.barre-recherche button{
    position: absolute;
    right: 0;
    width: 110px;
    border: none;
    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.barre-recherche button:hover{
    box-shadow: 10px 1px 20px 1px #aab5c5;
}

.barre-recherche button p{
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

.fa-search{
    display: none;
}

@media (max-width: 768px){
    .recherche{
        margin: 35px 30px 10px 30px;
    }

    .barre-recherche button{
        border-radius: 20px;
        width: 50px;
    }

    .barre-recherche button p{
        display: none;
    }

    .fa-search{
        color: white;
        display: inline;
    }
}


                            /*FILTRES*/
.filtre{
    margin: 030px 30px 10px 30px;
    height: 40px;
    display: flex;
    align-items: center;
}

.filtre h2{
    display: inline;
    font-size: 18px;
    text-align: center;
}

.filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 670px;
    padding: 0;
    margin-left: 20px;
}

.filtre-economique{
    height: 40px;
    width: 150px;
    border-radius: 30px;
    border: 2px solid #aab5c5;
    text-align: center;
    position: relative;
}

.filtre-economique::before{
    content: "";
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -2px;
    top: -2px;
    position: absolute;
}

.fa-money-bill-wave{
    color: #0065FC;
    position: absolute;
    top: 50%; 
    left: 12%;
    transform: translate(-50%, -50%); 
}

.filtre-economique h2{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 50%; 
    left: 60%;
    transform: translate(-50%, -50%); 
}

.filtre-familial{
    height: 40px;
    width: 120px;
    border-radius: 30px;
    border: 2px solid #aab5c5;
    text-align: center;
    position: relative;
}

.filtre-familial::before{
    content: "";
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -2px;
    top: -2px;
    position: absolute;
}

.fa-child{
    color: #0065FC;
    position: absolute;
    top: 50%; 
    left: 15%;
    transform: translate(-50%, -50%); 
}

.filtre-familial h2{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 50%; 
    left: 62%;
    transform: translate(-50%, -50%); 
}

.filtre-romantique{
    height: 40px;
    width: 150px;
    border-radius: 30px;
    border: 2px solid #aab5c5;
    text-align: center;
    position: relative;
}

.filtre-romantique::before{
    content: "";
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -2px;
    top: -2px;
    position: absolute;
}

.fa-heart{
    color: #0065FC;
    position: absolute;
    top: 50%; 
    left: 12%;
    transform: translate(-50%, -50%); 
}

.filtre-romantique h2{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 50%; 
    left: 60%;
    transform: translate(-50%, -50%); 
}

.filtre-animaux{
    height: 40px;
    width: 190px;
    border-radius: 30px;
    border: 2px solid #aab5c5;
    text-align: center;
    position: relative;
}

.filtre-animaux::before{
    content: "";
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -2px;
    top: -2px;
    position: absolute;
}

.fa-dog{
    color: #0065FC;
    position: absolute;
    top: 50%; 
    left: 10%;
    transform: translate(-50%, -50%); 
}

.filtre-animaux h2{
    width: 130px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 50%; 
    left: 60%;
    transform: translate(-50%, -50%); 
}

.hover:hover{
    box-shadow: 2px 2px 5px 2px #aab5c5;
    cursor: pointer;
}

@media (max-width: 768px){
    .filtre{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .filtre h2{
        margin-bottom: 20px;
    }

    .filtres{
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
        justify-content: start;
    }

    .filtre-economique,
    .filtre-familial,
    .filtre-romantique{
        margin: 0 10px 10px 0;
    }
}


                    /*INFOS DISPONIBILITES*/
.infos-dispo{
    margin: 20px 30px 10px 30px;
    height: 40px;
    display: flex;
    align-items: center;
}

.fa-info{
    color: #0065FC;
    padding: 5px 10px;
    border: 1px solid #aab5c5;
    border-radius: 50%;
}

.infos-dispo p{
    margin-left: 10px;
}

@media (max-width: 768px){
    .infos-dispo{
        align-items: flex-start;
    }
}


                    /*SECTION HEBERGEMENT*/
#hebergements{
    margin: 0 30px 0 30px;
    width: auto;
    height: auto;
}

.container-hebergement{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
}

.hebergement-standard{
    grid-column: 1 / 3;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 30px;
    width: 720px;
}

.hebergement-standard h1{
    width: 650px;
    margin: auto;
}

.carte-standard{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 150px);
    margin: auto;
    padding-top: 20px;
    grid-gap: 30px;
    justify-content: center;
}


                    /*CARTE CANNEBIERE*/

.cannebiere{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.cannebiere-img{
    margin: 3px;
    height: 85px;
}

.cannebiere-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.cannebiere-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.cannebiere-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.cannebiere-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}


.etoile-cannebiere{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}

.fa-star.blue{
    color: #0065FC;
    font-size: 10px;
    letter-spacing: -3px;
}

.prix-bold{
    font-weight: bold;
}


.fa-star.grey{
    color: #aab5c5;
    font-size: 10px;
}


                    /*CARTE VIEUX PORT*/

.port{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.port-img{
    margin: 3px;
    height: 85px;
}

.port-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.port-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.port-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.port-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}


.etoile-port{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}


                    /*CARTE MOUETTES*/
.mouettes{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.mouettes-img{
    margin: 3px;
    height: 85px;
}

.mouettes-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.mouettes-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.mouettes-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.mouettes-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}

.etoile-mouettes{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}


                    /*CARTE MER*/
.mer{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.mer-img{
    margin: 3px;
    height: 85px;
}

.mer-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.mer-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.mer-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.mer-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}

.etoile-mer{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}


                    /*CARTE PANIER*/
.panier{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.panier-img{
    margin: 3px;
    height: 85px;
}

.panier-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.panier-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.panier-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.panier-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}

.etoile-panier{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}


                        /*CARTE AMINA*/
.amina{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.amina-img{
    margin: 3px;
    height: 85px;
}

.amina-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.amina-texte{
    margin: 0 0 5px 10px;
    position: relative;
    height: 55px;
}

.amina-texte h3{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.amina-texte p{
    color: black;
    font-size: 12px;
    margin: 3px 0;
}

.etoile-amina{
    display: inline;
    bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 5px;
}
