*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

                                    /*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 30px 50px;
    align-items: center;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
}

.li-hebergement,
.li-activite{
    font-weight: 550;
    color: grey;
    padding-top: 65px;
    padding: 65px 30px 0 30px;
    position: relative;
}

.li-hebergement:hover,
.li-activite:hover{
    border-top: 4px solid #0065FC;
    color: #0065FC;
}


                        /*RECHERCHE*/
.recherche{
    margin: 0px 0px 10px 30px;
    width: auto;
}

.recherche h1{
    font-size: 20px;
}

.recherche p{
    margin: 5px 0 15px 0;
    font-size: 15px;
}

.barre-recherche{
    border: 1px solid #F2F2F2;
    height: 50px;
    width: 380px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
}

.barre-recherche::before{
    content: "";
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    height: 100%;
    width: 50px;
    left: 0;
    background-color: #F2F2F2;
}

.fa-map-marker-alt{
    position: absolute;
    top: 15px;
    left: 20px;
}

.barre-recherche input{
    border: none;
    position: absolute;
    top: 50%; 
    left: 36%;
    transform: translate(-50%, -50%); 
}

.barre-recherche input::placeholder{
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.barre-recherche button{
    position: absolute;
    right: 0;
    width: 110px;
    border: none;
    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.barre-recherche button:hover{
    box-shadow: 8px 1px 10px 1px #aab5c5;
}

.barre-recherche button span{
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

.fa-search{
    display: none;
}


                            /*FILTRES*/
.filtres{
    margin: 30px 0px 10px 30px;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
}

.filtres h2{
    font-size: 18px;
    margin-right: 30px;
}

.filtre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: auto;
    border-radius: 30px;
    border: 2px solid #aab5c5;
    text-align: center;
    margin-right: 20px;
}

.filtre:hover{
    box-shadow: 2px 2px 5px 2px #aab5c5;
    cursor: pointer;
}

.filtre i{
    padding-top: 15px;
    color: #0065FC;
    width: 60px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-left: -5px;
    font-size: 18px;
}

.filtre h3{
    font-size: 14px;
    font-weight: bold;
    width: 80%;
}


                    /*INFOS DISPONIBILITES*/
.infos-dispo{
    margin: 20px 0px 30px 30px;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
}

.fa-info{
    color: #0065FC;
    padding: 5px 10px;
    border: 1px solid #aab5c5;
    border-radius: 50%;
}

.infos-dispo p{
    margin-left: 10px;
}


                    /*HEBERGEMENT*/
#hebergements{
    display: inline-block;
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px 30px;
    margin-left: 40px;
    height: 600px;
}

#hebergements h2{
    font-size: 20px;
    margin-bottom: 15px;
}

.carte-standard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carte{
    width: 30%;
    height: 200px;
    border-radius: 15px;
    padding: 4px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #b9c5d6;
    background-color: white;
}

.carte img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60%;
    object-fit: cover;
}

.carte h3{
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0 0 10px;
}

.carte p{
    color: black;
    font-size: 12px;
    margin: 5px 0 5px 10px;
}

.prix-bold{ 
    font-weight: bold;
}

.etoiles{
    margin-left: 10px;
    height: 30px;
}

.fa-star.blue{
    color: #0065FC;
    font-size: 10px;
    letter-spacing: -3px;
}

.fa-star.grey{
    color: #aab5c5;
    font-size: 10px;
}

#hebergement-populaire{
    height: 600px;
    float: right;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px 30px 0px 30px;
    margin-right: 40px;
}

.titre-populaire{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.fa-chart-line{
    font-size: 20px;
}

.container-populaire{
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carte-populaire{
    display: flex;
    width: 100%;
    height: 145px;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 0 0 7px #b9c5d6;
    background-color: white;
    position: relative;
}

.carte-populaire a{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.carte-populaire img{
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.texte-populaire{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    position: relative;
    width: 60%;
}

.carte-populaire h3{
    color: black;
    font-size: 0.8rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.carte-populaire p{
    color: black;
    font-size: 12px;
}

.etoiles-populaire{
    position: absolute;
    left: 20px;
    bottom: 10px;
}


                    /*SECTION 2 ACTIVITES*/
#activites{
    margin: auto;
    width: 95%;
    height: 450px;
}

#activites h1{
    height: 10%;
    margin-top: 30px;
    font-weight: 600;
}

.container-activite{
    height: 90%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trois-cartes{
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:space-between;
}

.trois-cartes a{
    width: 100%;
    height: 100%;
}

.grande {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 45%;
    height: 100%;
}

.grande img{
    width: 100%;
    height: 88%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.carte-activite h3{
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 10px 10px;
}

.moyenne{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 45%;
    height: 55%;
}

.moyenne img{
    width: 100%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.petite{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #b9c5d6;
    width: 45%;
    height: 40%;
}

.petite img{
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

/****************** FOOTER ***************************/
footer{
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 30px;
}

.container-footer{
    width: 820px;
    display: flex;
    margin-left: 30px;
    padding: 30px 0;
    justify-content: space-between;
}

.titre-footer{
    margin-bottom: 20px;
    font-size: 12px;
}

.paras-footer p{
    margin-bottom: 10px;
    font-size: 12px;
}

/** MEDIA QUERIES **/
@media screen and (max-width: 992px){
    /*SECTION HEBERGEMENT*/
    #hebergements{
        height: 600px;
        width: 90%;
        margin: 0 auto 30px;
        display: block;
    }
    
    .carte-standard{
        justify-content: space-around;
    }
    
    .carte{
        width: 26%;
    }

    /*ASIDE POPULAIRE*/
    #hebergement-populaire{
        height: 450px;
        width: 90%;
        float: none;
        display: block;
        margin: auto;
    }
    
    .container-populaire{
        height: 90%;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .carte-populaire{
        margin-bottom: 0;
        width: 45%;
    }

    /*SECTION ACTIVITES*/
    #activites{
        width: 90%;
    }

    .trois-cartes{
        justify-content: space-between;
    }

    .carte-activite h3{
        font-size: 12px;
    }

    /*FOOTER*/
    .container-footer{
        width: 600px;
    }
}

@media screen and (max-width: 768px){
    /*HEADER*/
    header{
        flex-direction: column;
        justify-content: center;
        margin: 0;
        position: relative;
    }
  
    .logo{
        width: 100px;
        margin: 20px 0;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 35px;
    }

    li{
        width: 50%;
        text-align: center;
    }

    .ligne-activite,
    .ligne-hebergement{
        border-bottom: 4px solid #F2F2F2;
        height: 100%;
    }

    .ligne-hebergement:hover,
    .ligne-activite:hover{
    border-bottom: 4px solid #0065FC;
    color: #0065FC;
    }

    .li-activite,
    .li-hebergement{
        padding: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    .li-hebergement:hover,
    .li-activite:hover{
    border-top: none;
    }


    /*RECHERCHE*/
    .recherche{
        margin: 35px 30px 10px 30px;
    }

    .recherche h1,
    .recherche p{
        margin-bottom: 10px;
    }

    .barre-recherche button{
        border-radius: 20px;
        width: 50px;
    }

    .barre-recherche{
        width: 280px;
        margin-top: 15px;
    }
    
    .barre-recherche input{
        left: 50%;
    }

    .barre-recherche button span{
        display: none;
    }

    .fa-search{
        color: white;
        display: inline;
    }

    /*FILTRES*/
    .filtres{
        align-items: flex-start;
        height: auto;
        flex-wrap: wrap;
    }

    .filtre{
        margin-bottom: 10px;
    }

    .filtres h2{
        margin-bottom: 20px;
        width: 100%;
    }
    
    /*INFOS DISPO*/
    .infos-dispo{
        align-items: flex-start;
        width: 90%;
    }

    /*SECTION HEBERGEMENT*/
    #hebergements{
        width: 100%;
        position: relative;
        top: 600px;
        background-color: white;
        border-radius: 0px;
        padding: 0;
    }

    #hebergements h2{
        padding: 40px 20px 0px 20px;
    }

    .carte-standard{
       flex-direction: column;
       align-items: center;
       padding: 0 20px 0 20px;
    }
    
    .carte{
       width: 100%;
    }

    .carte h3{
        font-size: 16px;
    }

    #hebergements h4{
        padding: 0px 20px 0px 20px;
    }

    /* ASIDE STANDARD */
    #hebergement-populaire{
        width: 100%;
        position: relative;
        top: -630px;
        border-radius: 0px;
        height: 600px;
        padding: 0;
    }

    .titre-populaire{
        padding: 40px 20px 5px 20px;
    }

    .container-populaire{
        flex-direction: column;
        height: 470px;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 0 20px;
    }
    
    .carte-populaire{
        margin-bottom: 0;
        width: 100%;
    }

    .texte-populaire h3{
        font-size: 16px;
    }

    /*SECTION ACTIVITES*/
    #activites{
        height: 1150px;
        width: 100%;
        position: relative;
        top: 850px;
    }

    #activites h1{
        height: 30px;
        padding: 0px 20px 5px 20px;
        margin-bottom: 20px;
    }

    .container-activite{
        padding: 0 20px 0 20px;
    }

    .trois-cartes{
        width: 100%;
        flex-direction: column;
        height: 650px;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .carte-activite{
        width: 100%;
        height: 200px;
    }

    .carte-activite img{
        height: 75%;
    }

    .carte-activite h3{
        font-size: 15px;
        margin-left: 20px;
    }

    /*FOOTER*/
    footer{
        margin-top: 0;
        position: relative;
        top: 1120px;
    }

    .container-footer{
        flex-direction: column;
        width: 200px;
        height: 400px;
    }
}

