*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway;
    text-decoration: none;
}


/*breakpoints
992 px pour les écrans d’ordinateurs
768 px pour les tablettes,
tout ce qui est en dessous de 768 téléphones portables.
*/

/*bleu (#0065FC),claire de ce bleu (#DEEBFF) gris pour le fond (#F2F2F2)*/

                                    /*HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 50px;
    align-items: center;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
}

.li-hebergement{
    color: #0065FC;
    font-weight: 550;
    border-top: 4px solid #0065FC;
    padding-top: 65px;
    padding: 65px 30px 0 30px;
    position: relative;
}

.li-hebergement::before{
    content: "";
    background-color: #DEEBFF;
    width: 175px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s linear;
}

.li-hebergement:hover::before{
    height: 110px;
}

.li-activite{
    color: grey;
    font-weight: 550;
    padding: 65px 30px 0 30px;
    position: relative;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-bottom: 4px solid #0065FC;
        position: relative;
    }

    header::after{
        content: "";
        bottom: -4px;
        right: 0;
        height: 4px;
        width: 50%;
        position: absolute;
        z-index: 2;
        background-color: #F2F2F2;
    }

    .logo{
        width: 100px;
        margin: 20px 0;
    }

    nav{
        width: 100%;
        margin-bottom: 20px;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    
    .li-hebergement,
    .li-activite{
        border-top: none;
        padding: 0;
    }    
}



